.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-left: 4%;
  margin-top: 1.2%;
}

.textCenter {
  text-align: center !important;
}

.cardHeader {
  margin-bottom: 5%;
  background-color: rgba(99, 130, 189, 0.404);
}
